<!DOCTYPE html>
<html>
<head>
  <title>Database Management System</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="coverBg"></div>
  <div class="header">
    <div class="selectBox">
      <ul class="nav">
        <li class="__ib">
          <label for="exampleFormControlSelect1">Select DB</label>
          <select class="form-control" id="db">
            <option value="none">Select DB</option>
          </select>

        </li><li class="__ib">
          <label for="exampleFormControlSelect1">Select Collection</label>
          <select class="form-control" id="Collection">
          </select>
        </li><li class="__ib">
          <label for="exampleFormControlSelect1">Number of Data</label>

        </li>
        <li class="__ib">
          <label for="">Sort By</label>
          <ul class="sortBy">

          </ul>
        </li>
        <li class="__ib">
          <button id="getData" type="button" disabled class="btn btn-primary mb-2">Get Data</button>
        </li>
        <li class="__ib">
          <label for="">Total Records</label>
          <div class="tRecords">
            0
          </div>
        </li>
        <li class="__ib __va-m">
          <div class="clearFilter">&#9881;</div>
        </li>
      </ul>
    </div>

    <div class="openModal">&#9929;</div>
    <div class="views"><div class="jsonView __ib">{ }</div><div class="arrayView __ib">[ ]</div><div class="tableView __ib">&#9782;</div></div>
  </div>
  <div id="headerContent">
    <div class="logo"><span class="x">{</span>

      <span class="">M</span>
      <span class="x">}</span>
      <span class="d">D</span>
      <span class="b">B</span>
      <span class="m">M</span>
      <span class="s">S</span>
      <div class="text">Mongo Database Management System</div>
    </div>
    <ul class="windowTabUl __ib"></ul><span class="addTab __ib">+</span><span class="addDB __ib">&#8982;</span></div>

  <div id="content">
<!--    <div class="serverBox">-->
<!--  <div class="server"><span></span><span></span></div>-->
<!--  <div class="server"><span></span><span></span></div>-->
<!--  <div class="server"><span></span><span></span></div>-->
<!--  <div class="addDBIcon">+</div>-->
<!--</div>-->

  </div>
  
  <div id="model">
    <div class="modelBox">
      <div class="modelHeader">
        <div id="addDB">&#9960;</div>
        <div class="closeModel">&#9876;</div>
      </div>
    </div>
  </div>
  <div id="findModel" class="__shadow">
    <h3>Find</h3>
    <div class="findBox">
      <div class=" findType">
        <div class="__ib"><input type="radio" name="findType" id="String" value="String" checked><label for="String">String</label></div><div class="__ib"><input type="radio" name="findType" id="ID" value="ID"><label for="ID">ID</label></div><div class="__ib"><input type="radio" name="findType" id="Number" value="Number"><label for="Number">Number</label></div>
      </div>
      <input type="text" name="findValue" class="__shadow" id="findValue" placeholder="Type Value here">

      <div align="right" class="iconBox __mt_a"><span id="findSearch" class="__ib icon">&#10004;</span><span id="findCancel" class="__ib icon">&#10008;</span></div>
    </div>
  </div>
  <div id="modelBg"></div>

    <div class="footer hide"><div class="loader __ib __va-m"></div><div class="__ib __va-m msg">Connecting Server.........</div></div>






    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script> -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/okmplm.js" ></script>
    <script src="js/script.js" ></script>
  </body>
  <script type="text/javascript">

    var baseData = '${baseData}'
    var dbloadData
    baseData = JSON.parse(baseData)
    $(document).ready(function () {
  dbMenu(baseData)


  
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
    $(this).toggleClass('active');
  });
})

    function dbMenu(dbsList){
      dbsList.map(function(v){
        $('#db').append($('<option>', { 
          value: v.id,
          text : v.name 
        }));


      })
    }





    var tt = 'add';

    async function dbHTTP(type,url,data,callback){
        var statuss  = 200 ;

        await $.ajax({
        method: type,
        url: url,
        data: data,
        contentType:"application/json; charset=utf-8",
        dataType: 'json',
        success: callback,
            error:callback
        // error: function(xhr) {
        //     console.log('xxxx',xhr)
        //   var message = {
        //     status : xhr.status
        //   }
        //
        //     statuss = message
        //
        //
        // }
      })

        // return statuss
    }

    function dd(db){
     $.ajax({
      method: "POST",
      url: '/',
      data: {db:db},
      dataType: 'json',
      success: function(resultData) { 
  	// alert("Save Complete") 
  	// console.log('resultData',resultData)
  	$('#Collection').empty();
    resultData.map(function(v){

     $('#Collection').append($('<option>', { 
      value: v.name,
      text : v.name 
    }));

   })

  }
}).done(function( msg ) {
    // alert( "Data Saved: " + msg );
    // console.log('msg',msg)

  });
}


function json2html2(json) {
  var i, ret = document.createElement('ul'), li;
  for( i in json) {
    li = ret.appendChild(document.createElement('li'));
    li.appendChild(document.createTextNode(i+": "));
    if( typeof json[i] === "object"){
      li.appendChild(json2html(json[i]));
    } 
    else {

      li.firstChild.nodeValue += json[i];
    }
  }
  return ret;
}

    function old_json2html(json) {
        var i, ret = $('<ul></ul>'), li;
        for( i in json) {
            li = ret.append('<li>'+i+': <span class="value"></span></li>')
            // li.appendChild(document.createTextNode(i+": "));
            if( typeof json[i] === "object"){
                console.log('ddd',i,li.children().last().html())

                li.append(json2html(json[i]));
            }
            else {
                li.children().last().find('.value').text(json[i]);
// li.text(json[i])
                // li.firstChild.nodeValue += json[i];
            }
        }
        return ret;
    }





































function getDBData2(){
  var dName = $('#db').val()
  var cName = $('#Collection').val()
  var limit = parseInt($('#nod').val())
  var data = {dName:dName,cName:cName,limit}
  var values = {  "for": "dbDocumentConnect", values : data}
  dbHTTP('post','/',JSON.stringify(values),function(resultData){
          // console.log('data',data)
          // location.reload();




          dbloadData = resultData


          $('#asd').html(json2Table(resultData))
          return false
          $('.dataJson').slideUp();
          $('.dataTable').slideDown();

          let keys = []
          resultData.map(v =>{
            var key = Object.keys(v)

            keys = [...new Set(keys.concat(key))]
  // keys = Object.assign(keys, key)
  
})
          // console.log('aLLLLLL',keys)
          $('#thead tr').empty()
          $('#tbody').empty()
          keys.map(allKeys=>{
  // console.log(v)

  $('#thead tr').append("<th>"+allKeys+"</th>")



})

          resultData.map((v,i)=>{
            $('#tbody').append('<tr></tr>')
            keys.map(vkey=>{
             $('#tbody tr:last').append('<td data-for='+vkey+' data-row='+i+'>'+undefined+'</td>')
             for(var name in v) {
              if(vkey == name){ 
                var value = v[name];
                $('[data-for='+vkey+'][data-row='+i+']').text(value)

              }

            }
          })
          })




        })

}






</script>
</html>
